/node_modules
/public/hot
/public/uploads
/public/storage
/public/beneficiaries_bims_unsync.csv
/storage/*.key
/vendor
.vscode
.vscode/*
.env
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bootstrap
composer.json
